{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
    href="{% static 'css/style1.css' %}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
    <h1>Artist</h1>
    <img src="{% static 'image/wp2.jpg.jpg'%}">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla voluptas amet eum ducimus optio! Reiciendis fugit, fugiat nesciunt, ducimus ratione adipisci laborum voluptatibus odit neque omnis recusandae sunt qui beatae.</p>
    <a href="{% url 'home1'%}">Prev page</a>
</body>
</html>